In [1]:
import pandas as pd
import pickle

In [2]:
file2 = open(r'mydata.pkl', 'rb')
mydat = pickle.load(file2)
file2.close()

In [6]:
mydat.keys()

['X_Val', 'X_Train', 'X_Test', 'y_val', 'y_train', 'y_test']

In [9]:
train_data = mydat['X_Train']

In [25]:
train_data[['categories' , 'name' , 'latitude' , 'longitude' , 'stars']].head()

,categories,name,latitude,longitude,stars
0,"[Food, Coffee & Tea, Delicatessen, Delis, Rest...",Glass and Thompson,55.956000,-3.198600,4.0
1,"[Arts & Crafts, Shopping, Jewelry]",Historic Connections,55.951202,-3.180689,2.5
2,"[Restaurants, Italian]",La Dolce Vita,55.972881,-3.175572,3.5
3,"[Chinese, Restaurants]",China Star,55.946617,-3.215545,3.0
4,"[Bakeries, Food]",Morrison's Bakery,55.945982,-3.212530,3.5

In [28]:
#train_data.head()

In [29]:
#train_data['neighborhoods'].unique