In [22]:
import pandas as pd
with open('yelp_academic_dataset_checkin.json', 'rb') as f:
    data = f.readlines()

data = map(lambda x: x.rstrip(), data)

data_json_str = "[" + ','.join(data) + "]"

data_df = pd.read_json(data_json_str)

In [23]:
sum((list(data_df[49:50]['checkin_info'])[0].values()))

80

In [24]:
#((list(data_df[:1]['checkin_info']))[0])

In [25]:
newcols = []
for i in range(0,24):
    for j in range (0,6):
        newcols.append(str(i) + '-' + str(j))

In [26]:
for newcol in newcols:
    data_df[newcol] = 0

In [27]:
def fintot(row):
    return sum(row['checkin_info'].values())

data_df['total'] = data_df.apply(lambda row: fintot(row),axis=1)

In [ ]:
def fincols(row):
    for newcol in newcols:
        if (newcol in row['checkin_info'].keys()):
            row[newcol] = row['checkin_info'][newcol]
    return row
 
              
ndata_df = data_df.apply(lambda row:fincols(row) ,axis=1)

In [37]:
ndata_df['business_id'] = data_df['business_id']

In [62]:
morningcol = []
nooncol= []
nightcol = []
latenightcol = []
weekendcol = []
weekcol = []
for newcol in newcols:
    if (int(newcol[:-2]) in range(6,12)):
        morningcol.append(newcol)
    if (int(newcol[:-2]) in range(12,17)):
            nooncol.append(newcol)
    if (int(newcol[:-2]) in range(17,23)):
            nightcol.append(newcol)
    if (int(newcol[:-2]) in range(21,24)) or (int(newcol[:-2]) in range(0,4)):
            latenightcol.append(newcol)
    if (int(newcol[-1]) in range(0,5)): 
            weekcol.append(newcol)
    if (int(newcol[-1]) in range(5,7)): 
            weekendcol.append(newcol)

In [66]:
def addagg(row, whichcols):
    s = 0
    for col in whichcols:
        s += row[col]
    print(s)

In [67]:
ndata_df['morningci'] = data_df.apply(lambda row:addagg(row , morningcol) ,axis=1)

In [69]:
ndata_df.head()

,business_id,checkin_info,type,0-0,0-1,0-2,0-3,0-4,0-5,1-0,...,22-4,22-5,23-0,23-1,23-2,23-3,23-4,23-5,total,morningci
0,cE27W9VPgO88Qxe4ol6y_g,"{u'9-5': 1, u'7-5': 1, u'13-3': 1, u'17-6': 1,...",checkin,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,0
1,mVHrayjG3uZ_RLHkLj-AMg,"{u'11-5': 1, u'9-5': 2, u'9-4': 3, u'15-1': 1,...",checkin,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,28,0
2,mYSpR_SLPgUVymYOvTQd_Q,"{u'5-5': 1, u'5-4': 1, u'9-3': 1, u'11-4': 1, ...",checkin,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,0
3,KayYbHCt-RkbGcPdGOThNg,"{u'23-1': 1, u'11-2': 2, u'21-4': 1, u'16-1': ...",checkin,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,65,0
4,b12U9TFESStdy7CsTtcOeg,"{u'5-5': 2, u'13-2': 1, u'8-6': 1, u'5-1': 2, ...",checkin,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,0